&wifi {
	status = "okay";
};

&i2c1 {
	pinctrl-0 = <&i2c1_default>;
	status = "okay";

	lis3dh@19 {
			compatible = "st,lis2dh";
			reg = <0x19>;
	};
};

&spi2 {
	pinctrl-0 = <&spim2_default>;
	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";

		/* SPI */
		reg = <0>; /* ignored, but necessary for SPI bindings */
		spi-max-frequency = <8750000>;

		/* WS2812 */
		chain-length = <4>; /* arbitrary; change at will */
		spi-one-frame = <0xF8>;
		spi-zero-frame = <0xE0>;
		color-mapping = <2 1 3>;
	};
};

&pinctrl {
	i2c1_default: i2c1_default {
		group1 {
			pinmux = <I2C1_SDA_GPIO33>,
					 <I2C1_SCL_GPIO34>;
		};
	};
	spim2_default: spim2_default {
		group1 {
			pinmux = <SPIM2_MOSI_GPIO1>;
		};
	};
};

/ {
	aliases {
		led-strip = &led_strip;
		neopower = &neopower;
		mosi = &mosi;
		sclk = &sclk;
		csel = &csel;
		busy = &busy;
		dc = &dc;
		rst = &rst;
		sw0 = &button0;
        sw1 = &button1;
		sw2 = &button2;
        sw3 = &button3;
        activate = &active;
		sound = &sound;
	};

	leds {
        compatible = "gpio-leds";
        neopower: neo_power {
            gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>;
		};
        mosi: mosi_p {
            gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>;
        };
		sclk: sclk_p {
            gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
        };
		csel: csel_p {
            gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
        };
		dc: dc_pin {
            gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
        };
		rst: reset {
            gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
        };
        active: active_pin {
            gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
            label = "Activate speaker";
        };
		sound: sound_pin {
            gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
            label = "Drive speaker";
        };
    };

	gpio_keys {
        compatible = "gpio-keys";
		busy: busy_pin {
            gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
        };
        button0: button_0 {
            gpios = <&gpio0 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        };
        button1: button_1 {
            gpios = <&gpio0 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        };
		button2: button_2 {
            gpios = <&gpio0 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        };
        button3: button_3 {
            gpios = <&gpio0 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        };
    };

};
