# Copyright (c) 2023 Golioth, Inc.
# SPDX-License-Identifier: Apache-2.0

# Always set CONFIG_BOARD here. This isn't meant to be customized,
# but is set as a "default" due to Kconfig language restrictions.
config BOARD
	default "adafruit_magtag"
	depends on BOARD_ADAFRUIT_MAGTAG

config ENTROPY_GENERATOR
	default y
